@using YourMatches.Client.Components.ScheduledMatchComponents
<div class="match-tab d-flex flex-column mx-md-2 my-2">
    <div class="general d-flex flex-column flex-md-row px-3 py-2">

        <div class="date-container d-flex flex-row flex-md-column mr-2 align-items-center">
            <DateContainerComponent  MatchDate="Match.Date"></DateContainerComponent>
        </div>

        <div class="teams-container d-flex flex-row justify-content-between px-2">
            <TeamComponent TeamName="@Match.HomeTeam" Venue="home"></TeamComponent>
            <TeamSeparatorComponent Status="Match.Status" ScoreResult="Match.ScoreResult"></TeamSeparatorComponent>
            <TeamComponent TeamName="@Match.AwayTeam" Venue="away"></TeamComponent>
        </div>

        <div class="button-container">
            <div class="mx-auto" @onclick="ChangeDisplay">
                <span class="oi oi-chevron-bottom details-button @_buttonStyle" title="Details for match" aria-hidden="true"></span>
            </div>
        </div>

    </div>
    @if (_areDetailsDisplayed)
    {
        <div class="details-container d-flex flex-column align-content-center">
            <span>
                Details of the match
            </span>
            <span>
                League: @Match.League.FullName
            </span>
            <span>
                Matchday: @Match.MatchDay
            </span>
        </div>
    }
</div>

@code {
    //TODO: Redo button
    //TODO: Complete Details

    [Parameter]
    public ScheduledMatchDto Match { get; set; }

    private bool _areDetailsDisplayed = false;
    private string _buttonStyle = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        //Date is in UTC, so we change it to the client time zone
        Match.Date = Match.Date.ToLocalTime();
    }

    private void ChangeDisplay()
    {
        _areDetailsDisplayed = !_areDetailsDisplayed;
        _buttonStyle = _areDetailsDisplayed ? "details-shown" : string.Empty;
    }

}
