@using YourMatches.Client.Components.ScheduledMatchComponents
<div class="match-tab d-flex flex-column mx-md-2 my-2 @_tabStyle">
    <div class="general d-flex flex-column flex-md-row px-3 py-2">
        <div class="date-container d-flex flex-row flex-md-column mr-2 align-items-center">
            <DateContainerComponent  MatchDate="Match.Date"></DateContainerComponent>
        </div>
        <div class="teams-container d-flex flex-row justify-content-between mx-1 px-2">
            <TeamComponent TeamName="@Match.HomeTeam.TeamName" Venue="home"></TeamComponent>
            <TeamSeparatorComponent Status="Match.Status" ScoreResult="Match.ScoreResult"></TeamSeparatorComponent>
            <TeamComponent TeamName="@Match.AwayTeam.TeamName" Venue="away"></TeamComponent>
        </div>
        <div class="button-container px-2">
            <div class="mx-auto" @onclick="ChangeDisplay">
                <span class="oi oi-chevron-bottom details-button @_buttonStyle" title="Details for match" aria-hidden="true"></span>
            </div>
        </div>
    </div>
    @if (Match.Status == Status.POSTPONED)
    {
        <PostponedNotificationComponent></PostponedNotificationComponent>
    }
    @if (_areDetailsDisplayed)
    {
        <div class="details-container d-flex flex-column align-content-center">
            <span>
                Details of the match
            </span>
            <span>
                League: @Match.League.FullName
            </span>
            <span>
                Matchday: @Match.MatchDay
            </span>
        </div>
    }
</div>

@code {
    [Parameter]
    public ScheduledMatchDto Match { get; set; }

    private bool _areDetailsDisplayed = false;
    private string _buttonStyle = string.Empty;
    private string _tabStyle = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Match.Date = Match.Date.ToLocalTime();
        //TODO: to delete below
        switch (Match.ScoreResult.Result)
        {
            case Result.DRAW:
                {
                    _tabStyle = "result-draw";
                    break;
                }
            case Result.HOME_TEAM:
                {
                    _tabStyle = "result-home-win";
                    break;
                }
            case Result.AWAY_TEAM:
                {
                    _tabStyle = "result-away-win";
                    break;
                }
            default: break;
        }
    }

    private void ChangeDisplay()
    {
        _areDetailsDisplayed = !_areDetailsDisplayed;
        _buttonStyle = _areDetailsDisplayed ? "details-shown" : string.Empty;
    }

}
